@import "variables";
@import "../libs/prefixes";

.#{$prefix}listview {
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    height: $listview-height;
    line-height: $listview-height;
  }

  &-icon {
    width: $listview-height;
    text-align: center;
  }
}