@import "variables";

.#{$prefix}pager {
  &-item {
    border: 1px solid $border-color;
    padding: .3rem .6rem;
    border-radius: 3px;
    & + .#{$prefix}pager-item {
      margin-left: .5rem;
    }
    input {
      border: none;
      width: 4rem;
      border-bottom: 1px $border-color solid;
      text-align: center;
    }
  }
}